<h5 class="mb-3">Hello 👋🏻</h5>

<p><span style="font-weight: bold;"> Web Development Student | Aspiring Full-Stack Developer</span>
<p>I am a Web Development student at <strong>Epitech Paris</strong> , developing a solid foundation in both front-end and back-end technologies. 
I am currently seeking a full-stack alternance opportunity in Paris or its surrounding areas, where I can apply my technical skills, collaborate with experienced professionals, and contribute to real-world projects while continuing to grow as a developer.</p>
</p>


<a
  target="_blank"
  href="/assets/docs/cv_2026-01-06_mohammadharoon_masah.pdf"
  class="btn btn-warning d-block mb-2"
  ><i class="fa fa-file"></i> Download CV</a
>

<a
  
  class="btn btn-danger d-block"
  href="{{'/contact.html/' | relative_url}}"
  ><i class="far fa-comment-dots fa-1x" style="color: #f1f1f1;"></i> Contact Me</a
>
